@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

.cursor {
  position: fixed;
  top: -30px;
  left: -30px;

  width: 130px;
  height: 130px;

  border-radius: 50%; 
   background: radial-gradient(
  circle,
  rgba(255, 170, 60, 0.15),
  rgba(255, 120, 0, 0.15)
);
  filter: blur(48px);
  
  pointer-events: none;
  z-index: 9999;

  transform: translate(0, 0);
  will-change: transform;
}

 